html {
    font-size: 20px;
    background-color: rgb(190, 190, 190);
}

.error404 {
    font-size: 70px;
    display: flex;
    justify-content: center;
}

a {
    width: 5%;
}

img {
    width: 100%;
}

li {
    padding: 5px;
    list-style: none;
}

li:nth-child(2) {
    margin-left: auto;
}

nav {
    border-bottom: 2px solid black;
}

.main-block {
    border: 2px solid black;
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: flex-start;
    
    padding: 5px;
    margin: 0px;
}

.authorization-link, .registration-link, .logout-link {
    text-decoration: none;
}

#auth-form {
    padding-top: 1%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
}

#publish-form {
    padding-top: 1%;
    padding-left: 3%;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.comment-button {
    width: 40%;
    margin-left: auto;
    font-size: 20px;
    margin-top: 2%;
    cursor: pointer;
}

.comment-input-name {
    font-size: 20px;
    width: 40%;
}

.auth-button {
    width: auto;
    font-size: 20px;
    margin-top: 5%;
    cursor: pointer;
}

.authentication {
    font-size: 20px;
    width: 100%;
}

.comment-input-text {
    font-size: 20px;
    width: 100%;
    height: 120px;
    resize: none;
    overflow-wrap: break-word;
}

#error-message {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.authorization, .registration, .new-comment {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-block {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}

.comment-block {
    display: flex;
    background-color: rgb(191, 237, 248);
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
}

.row-comment {
    display: flex;
}

.column-comment {
    display: flex;
    flex-direction: column;
}

.content {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.name {
    margin-left: auto;
    margin-bottom: 0px;
}

.date {
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.check-boxes {
    cursor: pointer;
    transform: scale(1.15, 1.15);
}

.check-boxes-text {
    cursor: pointer;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.admin-panel {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.admin-panel h3 {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.admin-panel-del-comments-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: 3%;
}

#del-form {
    margin: 0px;
}

.del-button {
    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
}