html {
    font-size: 20px;
    background-color: rgb(190, 190, 190);
}

a {
    width: 5%;
}

img {
    width: 100%;
}

li {
    padding: 5px;
    list-style: none;
}

li:nth-child(2) {
    margin-left: auto;
  }

nav {
    border-bottom: 2px solid black;
}

.main-block {
    border: 2px solid black;
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: flex-start;
    
    padding: 5px;
    margin: 0px;
}

.form {
    padding-top: 1%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
}

.error404 {
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.auth-button, .comment-button {
    width: auto;
    font-size: 20px;
    margin-top: 5%;
}

.authentication, .comment-input {
    font-size: 20px;
    width: 100%;
}

.comment-input-text {
    font-size: 20px;
    width: 100%;
    height: 120px;
    resize: none;
    overflow-wrap: break-word;
}

.authorization, .registration, .new-comment {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-block {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}

.comment-block {
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 237, 248);
    margin: 3%;
    padding: 1%;
}

.content {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.name {
    margin-left: auto;
    margin-bottom: 0px;
}

.date {
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
